.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 25px;
}

.App-content {
  margin-left: 25px;
}

.navbar {
  display: inline;
  margin-left: 25px;
}

.nav-item {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.nav-item a{
  margin-right: 20px;
  text-decoration: none;
  color: white;
}